*{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "Arimo", sans-serif;
body{
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.50),rgba(0,0,0,0.50)),url(img/corpo.jpg);
}
.kon_menu{
    width: 100%;
    height: 60px;
    position: fixed;
    box-shadow: 0 0 5px rgb(10, 10, 10);
}
.top_strony{
    width: 100%;
    height: 100%;
    background-size: cover;
    text-align: center;
    overflow: auto;
}
.top_strony h2{
    margin-top: 15%;
    font-size: 3.5rem;
    font-weight: normal;
    text-shadow: 0 0 3px rgb(255, 255, 255);
}
.stop_strony h3{
    line-height: 0;
    font-size: 2rem;
    font-weight: normal;
    text-align: 0 0 3px rgb(255, 255, 255);
}
.top_strony{
    margin-top: 18%;
}